@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Rochester&display=swap');

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.profileNameContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileName {
    font-family: 'Reem Kufi', sans-serif;
    color: #4b4747;
    font-size: 1.3rem !important;
    margin: 2;
}

.nickName {
    font-family: 'Reem Kufi', sans-serif;
    color: #4b4747;
    font-size: 1.2rem !important;
    margin: 2;
    font-style: italic;
}

.roundedContainer {
    position:relative;
    width:80%;
    padding-bottom:80%;
    border-radius:50%;
    overflow:hidden;
}

.roundedImg {
    position:absolute;
    object-fit: cover;
    width:100%;
    height:100%;
}

@media (max-width: 768px) {
    .profileName {
        font-size: 0.9rem !important;
        margin: 0;
  }

  .nickName {
    font-size: 0.9rem !important;
    margin: 0;
    font-style: italic;
}
}