@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.toolbar {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: linear-gradient(94.58deg, #11998E 39.35%, #32FC2E 166.16%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    height: auto;
    padding: 10px;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.spacerTab {
    width: 34px;
    height: 34px;
}

.toolbar__logo {
    margin-left: 1vw;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 10px;
    font-family: 'Rochester', cursive;
    align-self: center;
}

.spacer {
    flex: 1;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin-left: 2rem;
    margin-right: 3rem;
}

.toolbar_navigation-items a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: #D46C4E;
}


@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }

    .toolbar__logo a {
        font-size: 1rem;
    }

    .spacerTab {
        width: 5px;
        height: 5px;
    }
}

@media (min-width: 769px) {
    .toolbar__navigation {
        flex-direction: column;
    }

    .toolbar__toggle-button {
        display: none;
    }

    .spacerTab {
        display: none;
    }

    .toolbar__logo {
        margin-left: 0;
    }

    .toolbar__logo a {
        color: white;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 10px;
    }
}