@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.headerBkg {
    background: linear-gradient(94.58deg, #11998E 39.35%, #32FC2E 166.16%);
}

.close {
    color: linear-gradient(94.58deg, #11998E 39.35%, #32FC2E 166.16%);
    font-size: 2rem;
 }

.invModalTitle {
    font-family: 'Rochester', cursive;
    color: white;
}

.formLabel {
    color: #4b4747;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.greetingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.greetingName {
    color: #4b4747;
    text-align: center;
    font-size: 2rem;
}

.greetingText {
    color: #4b4747;
    text-align: center;
    font-size: 1.8rem;
}

.submitButton {
    background: linear-gradient(94.58deg, #11998E 39.35%, #32FC2E 166.16%);
    color: white;
}

.tglButtonLinear.active {
    background: linear-gradient(94.58deg, #11998E 39.35%, #32FC2E 166.16%);
}

.invModalBody {
    display: "flex" !important;
    flex-direction: "column" !important;
}

.invCloseButton {
    align-self: flex-end;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .invModalTitle {
        font-family: 'Rochester', cursive;
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }

    .headerBkg {
        padding: 0.5rem;
    }
    .formLabel {
    font-size: 1.5rem;
    }
    .greetingName {
        font-size: 1.2rem;
    }
    
    .greetingText {
        font-size: 1rem;
    }
  }
  