@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Rochester&display=swap');

.home {
  z-index: "900";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Reem Kufi', sans-serif;
}

.home h1 {
  color: #000000;
  font-size: 1rem;
  text-align: center;
  text-shadow: 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.home p {
  font-size: 0.8rem;
  margin-left: 10px;
}

.home ul {
  font-size: 0.8rem;
  list-style: none;
}

.home li {
  text-indent: -.7em;
}

.home li::before {
  content: "• ";
  color: #43978D;
}

@media (min-width: 769px) {
  .home {
    margin-top: 40px;
  }
  .home h1 {
    font-size: 2rem;
 }

  .home p {
     font-size: 1.5rem;
  }

  .home ul {
    font-size: 1.5rem;
 }
}

